<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>

    <link rel="stylesheet" href="../css/style.css" type="text/css"/>
</head>
<body>
<form class="box" action="/article/createArticle" method="post" >
    <h1><p>Hello {{UserName}}</p></h1>
    <h1><p>ID: {{id}} </p></h1>
    <a><input type="hidden" name="UserID" id="UserID" value="{{id}}"></a>
    <p>Tell us about your work</p>
    <a><input  name="article" ></a>
    <button class="floating-button" type="submit">publish</button>
</form>
<a class="floating-button" href="/auth/logOut">Log Out</a>
<form class="box2">
    <p>Your Work:{{this.name}}</p>
    {{#each articles}}
        <p> {{name}}</p>
    {{/each}}
</form>

<script>

</script>
</body>
</html>